:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f5f5f5;
}

.login-card {
  width: 100%;
  max-width: 400px;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.actions-container {
  display: flex;
  justify-content: flex-end;
  padding: 8px 0 0;
}
