<mat-toolbar color="warn">
  <span>My App</span>

  <span class="spacer"></span>

  <button mat-button>
    <mat-icon>search</mat-icon>
    Search
  </button>

  <button mat-button>
    <mat-icon>favorite</mat-icon>
    Favorites
  </button>

  <button mat-button>
    <mat-icon>login</mat-icon>
    Login
  </button>
</mat-toolbar>



<div>
  @if(movieListResource.isLoading()) {
    <p>Loading...</p>
  }
  @if (movieListResource.hasValue()) {
    <app-movie-list [dataSource]="movieListResource.value()"></app-movie-list>
  }
  @if (movieListResource.error()) {
    <p>Sorry, an error happened</p>
    <button (click)="movieListResource.reload()">Try again</button>
  }

</div>
